@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@import "~@angular/material/theming";
@import "color-schema-props";
@import "utils";
@import "colors";

@function schema($color, $black: black, $white: white, $onlyGradient: false) {
  $gradient: gradient($color);
  @if not($onlyGradient) {
    $gradient: map.merge(
        (
          base: $color,
          lights: map.get($gradient, 100),
          light: map.get($gradient, 200),
          dark: map.get($gradient, 400),
          shadows: map.get($gradient, 700),
        ),
        $gradient
    );
  }
  $contrasts: (contrast: contrasts($gradient, $black: $black, $white: $white));

  @return map.merge($gradient, $contrasts);
}

@function theme($colors, $black: black, $white: white, $onlyGradient: false, $addGreyscale: true) {
  $schemas: ();
  @each $key, $color in $colors {
    $schemas: map.merge($schemas, ($key: schema($color, $onlyGradient: $onlyGradient)))
  }
  @if $addGreyscale {
    $schemas: map.merge($schemas, (greyscale: schema(black, $onlyGradient: true)));
  }

  @return $schemas;
}

@mixin themify($colors, $black: black, $white: white) {
  $theme: theme($colors, $black, $white);
  :root {
    @each $colorKey, $colorSet in $theme {
      @each $type, $color in map.remove($colorSet, "contrast") {
        --#{$colorKey}-#{$type}: #{$color}
      }
      @each $type, $color in map.get($colorSet, "contrast") {
        --#{$colorKey}-#{$type}-contrast: #{$color}
      }
    }
  }

}
