@use "sass:list";

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
@function contains($list, $var) {
  @return (null != list.index($list, $var));
}

@function includes($list, $match, $message: 'Something went wrong'){
  @each $el in $list {
    @if( false == contains($match, $el) ){
      @error '#{$message}';
      @return false;
    }
  }
  @return true;
}
