@import "~@doesrobbiedream/themify/scss/colors";

:host {
  .toggle-password {
    color: #ccc;
    cursor: pointer;
    transition: color .3s;

    &--toggled {
      color: color('primary');
    }

    &--error {
      color: color('info')
    }
  }
}
