@import "~@doesrobbiedream/themify/scss/colors";

:host {
  display: flex;
  background-color: white;


  &:not(.overall-drop-zone) {
    width: 100%;
    max-width: 768px;
    height: 100%;
    min-height: 200px;
    margin: 1em auto;
  }

  &.overall-drop-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;

    &--show-on-file-over {
      z-index: -1;
      opacity: 0;
      transition: opacity .4s;
    }

    &--active {
      z-index: 1;
      opacity: 1;
    }


  }

  .drop-files {
    &__drop-zone {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 3px dotted color('primary');
      color: color('primary');
      border-radius: 1em;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      &-text {
        margin-bottom: 1em;
      }
    }
  }
}
